@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: #121212;
  color: #fff;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 600px;
  margin: 0 auto;
  max-width: 90%;
  min-height: 500px;
  background: #1d1d1d;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

@media (max-width:586px) {
    .card{
        width: 100%;
        height: 100%;
    }
}

.heading {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 22px;
  line-height: 1.6;
  color: #c4c5c5;
  margin-bottom: 30px;
  text-align: center;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  background: #323232;
  border: none;
  padding: 10px 20px;
  width: 300px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.alert {
  color: red;
  position: absolute;
  top: 40px;
  left: 5px;
}

.btn {
  background: #0077ff;
  padding: 10px 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #0149ac;
}

.enabled {
  opacity: 1;
}

.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.question {
  font-size: 22px;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.option {
  width: 80%;
  padding: 10px 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.option:hover {
  background: #0077ff;
}

.notSelected {
  background: #323232;
}

.selected {
  background: #0077ff;
}

.funcBtn {
  margin: 20px auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

@media (max-width:586px) {
    .funcBtn {
        gap: 3px;
    }
}

.funcBtn > button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: normal;
}

.funcBtn > button:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.563);
  transition: all 0.5s ease-in-out;
}

.funcBtn > button:nth-child(1):hover {
  background-color: rgba(193, 1, 1, 0.563);
}

.user-name {
  color: red;
  font-family: cursive;
  text-transform: capitalize;
}

.score {
  font-size: 42px;
}

.digit {
  color: green;
}

.digit1 {
  color: red;
}

.restart {
  margin: 20px auto;
}
